body
{
	-webkit-user-select: none; 
	cursor:default;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
}

.MainMenuItems
{
	position:relative;
	left:200px;
	top:100px;
	list-style: none;
	-webkit-transform: rotateY(45deg) rotateX(20deg);
	-webkit-transform-style: preserve-3d;
}

.MainMenuItems > li
{
	width:250px;
	height:50px;
	background-color:black;
	color:white;
	margin-bottom:25px;
	text-align:center;
	-webkit-transition: all 0.2s ease;
	-webkit-transform-origin: 0% 50%;
}

.MainMenuItems > li:hover
{
	margin-left:15px;
}